.wrapper{
    display: flex;
    margin-bottom: 160px;
}

@media screen and (max-width: 820px) {
    .wrapper {
        display: grid;
        grid-template-columns: 35% 35% 30%;
        flex-wrap: wrap;
    }
}