.container {
  background-image: url("../../../assets/images/backgroundImg/Testimonals.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  padding-top: 120px;
  @media (max-width: 471px) {
    padding-top: 80px;
    height: 650px;
  }
  .wrapper {
    div {
      display: none;
    }
    p {
      text-align: center;
      font-size: 28px;
      color: #fff;
      padding-top: 20px;
    }
  }
}
.cards {
  h5 {
    font-size: 18px;
    font-weight: 800;
  }
  p {
    font-size: 18px;
    font-weight: 200;
  }
}
.cardsBox {
  h5 {
    font-weight: 800;
  }
}
