.container {
  display: inline-block;
  border: 1px solid #0056884b;
  cursor: pointer;
  position: relative;
  z-index: 10;
  background-color: #fff;
  max-width: 530px;
  width: 100%;
  border-radius: 5px;
  @media (max-width: "991px") {
    max-width: 400px;
  }
  @media (max-width: "767px") {
    max-width: 300px;
  }
  &:hover {
    .wrapper {
      background-color: #005688;
    }
    .wrapper h4 {
      color: #fff;
    }
    .wrapper ul li {
      color: #fff;
    }
    .wrapper ul p {
      color: #fff;
    }
    .wrapper p {
      color: #fff;
    }
    .wrapper::before {
      background-color: #005688;
    }
    &::before {
      background-color: #005688;
    }
    .wrapper .img {
      display: none;
      transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
    }
    .wrapper .title {
      padding-left: 40px;
    }
    .wrapper .imgHoverBox .imgHover {
      display: block;
      transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 45%;
    right: -10px;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    border: 1px solid #0056884b;
    border-radius: 5px;
    background-color: #fff;
    transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 5;
  }
  .wrapper {
    display: flex;
    align-items: flex-start;
    padding: 40px;
    position: relative;
    z-index: 10;
    background-color: #fff;
    transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
    border-radius: 5px;
    .title {
      padding-left: 40px;
    }
    h4 {
      font-size: 20px;
      font-weight: 800;
      color: #000;
      transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
    }
    p {
      transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
      font-size: 16px;
      color: gray;
    }
    ul {
      padding-left: 20px;
      p {
        color: gray;
        font-size: 16px;
        transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
      }
      li {
        list-style: outside;
        color: gray;
        font-size: 16px;
        transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
      }
    }
    .img {
      width: 40px;
      padding-top: 10px;
      transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
    }
    .imgHover {
      width: 40px;
      padding-top: 10px;
      display: none;
      transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
    }
  }
}
.containerRight {
  display: inline-block;
  border: 1px solid #0056884b;
  cursor: pointer;
  position: relative;
  z-index: 10;
  background-color: #fff;
  max-width: 530px;
  width: 100%;
  border-radius: 5px;
  @media (max-width: "991px") {
    max-width: 400px;
  }
  @media (max-width: "767px") {
    max-width: 300px;
  }

  &:hover {
    .wrapper {
      background-color: #005688;
    }
    .wrapper h4 {
      color: #fff;
    }
    .wrapper ul li {
      color: #fff;
    }
    .wrapper ul p {
      color: #fff;
    }
    .wrapper p {
      color: #fff;
    }
    .wrapper::before {
      background-color: #005688;
    }
    &::before {
      background-color: #005688;
    }
    .wrapper .imgBox {
      display: none;
      transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
    }
    .wrapper .title {
      padding-left: 40px;
    }
    .wrapper .imgHoverBox .imgHover {
      display: block;
      transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 45%;
    left: -10px;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    border: 1px solid #0056884b;
    border-radius: 5px;
    background-color: #fff;
    transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 5;
  }
  .wrapper {
    display: flex;
    align-items: flex-start;
    padding: 40px;
    position: relative;
    z-index: 10;
    background-color: #fff;
    transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
    border-radius: 5px;
    .title {
      padding-left: 40px;
    }
    p {
      transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
      font-size: 16px;
      color: gray;
    }
    h4 {
      font-size: 20px;
      font-weight: 800;
      color: #000;
      transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
    }
    ul {
      padding-left: 20px;
      p {
        color: gray;
        font-size: 16px;
        transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
      }
      li {
        list-style: outside;
        color: gray;
        font-size: 16px;
        transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
      }
    }
    .imgBox {
      padding-top: 10px;
      .img {
        width: 40px;
        transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
      }
    }
    .imgHoverBox {
      padding-top: 10px;
      .imgHover {
        width: 40px;
        display: none;
        transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
      }
    }
  }
}
