.container{
    background-image: url("../../../assets/images/backgroundImg/BussinessAnalysis.svg");
    background-repeat: no-repeat;
    background-position: top;
    height: 700px;
    width: 100%;
    background-size: 1800px;
}