.card__titles {
    display: flex;
    flex-direction: column;
}

.cards_wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 100px;
}

.ecommere_text {
    font-family: 'Nunito Sans',sans-serif;
    font-size: 18px;
    line-height: 1.43;
    font-style: normal;
    font-weight: 300;
    padding-bottom: 25px;

}
.ecommere_ul {
    padding-right: 10px;

    &__li {
        list-style: disc;
    }
}



@media screen and (max-width: 991px) {
    .cards_wrapper {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 767px) {
    .cards_wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 471px) {
    .cards_wrapper {
        display: grid;
        grid-template-columns: 100%;
    }
}
